body {
    background-image: url("../images/restaurant-449952_1280\ \(2\).jpg");
}

.dvb-shadow {

    color: white;

    text-shadow: 1px 1px 2px goldenrod, 0 0 25px black;

}

.dvb-header {

    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.6;
    padding: 8px;
    text-align: center;
    
    }

    #font-1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-stretch: extra-expanded;

    }