body {
    background-image: url("../images/restaurant-449952_1280\ \(2\).jpg");
}

.dvb-shadow {

    color: white;

    text-shadow: 1px 1px 2px goldenrod, 0 0 25px black;

}

.dvb-header {

    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.6;
    padding: 8px;
    text-align: center;
    
    }

    #font-1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-stretch: extra-expanded;

    }

    /* Example in CSS */

#securedEmail:after {
    content: 'info\0040 donvitosbistro\2e com';
    unicode-bidi: bidi-override;
    }
  
  
  .reservationForm {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="time"],
  input[type="phone"],
  button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #EBB04F;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }